<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Home</title>-->
<!--</head>-->
<!--<body>-->


<!--    <b>Some</b>-->
<!--<a href="https://kun.uz/" style="text-decoration:none;color:Tomato; ">kun.uz</a>-->
<!--<img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png" height="150" width="180">-->
<!--<video width="320" height="240" controls>-->
<!--  <source src="movie.mp4" type="video/mp4">-->
<!--  <source src="movie.ogg" type="video/ogg">-->
<!--  Your browser does not support the video tag.-->
<!--</video>-->
<!--<iframe width="640" height="360" src="https://www.youtube.com/embed/K6CbI4BKQK4" title="#07 Python Django | Template yaratish" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--<a href="about.html">HOme</a>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bosh sahifa</title>
</head>

<body>
    <h2>Home Page</h2>
</body>
</html>